body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.title {
    margin-top: 20vh;
}

.start-button {
    background-color: #4caf50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

#game-container {
    margin-top: 20px;
}

#story-image {
    width: 80%;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
}

.choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.choice-button {
    background-color: #008cba;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    width: 80%;
    max-width: 300px;
}

.choice-button:hover {
    background-color: #005f73;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}
